
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fold {
    min-width: 100%;
    min-height: 600px;
}



/* Demo */

.quotes {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    top:  3000px;
    height: 50%;
}

.quotes article {
    border-bottom: 1px dashed #ddd;
    text-align: justify;
    line-height: 1.8;
    background-image: url("./background1.jpg");
    
    font-size: 14px;
    padding: 80px 40px;
    margin: 0 auto;
    width: 100%;
    color: BLack;

}
.bck {
    width : 50%;
    background-color: white;
    /*opacity: 0.5;*/
   
}

.quotes article em {
    font-style: normal;
    font-size: 12px;
    color: #666;
}

.quotes article em:before {
    content: '~';
    margin: 0 10px;
}

@media (max-width: 600px) {
    .quotes article {
        padding: 60px 30px;
        line-height: 1.5;
        font-size: 12px;
    }
    .quotes article em {
        font-size: 10px;
    }
}

.button {
    background-color: #008CBA;; /* Green */
    border: none;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    float: right;
}

.button2 {
    background-color: #f44336;; /* Green */
    border: none;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    float: right;
}
